<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">

	<!--1、默认就是包含所有 更改扫描 本项目下的controller;  -->
	<context:component-scan base-package="com.chilema.restapi" use-default-filters="false">
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller" />
	</context:component-scan>

	<!--2、视图解析器 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/views/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>

	<!-- 映射动态资源，并开启开挂模式 -->
	<mvc:annotation-driven />
	<!-- 映射静态资源，将静态资源交给tomcat -->
	<mvc:default-servlet-handler />

	<!-- 文件上传需要一个文件上传解析器 id必须是multipartResolver -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding" value="utf-8"></property>
	</bean>

	<!-- 在springmvc配置文件中指定跨域 mvc:cors：指定跨域 -->
	<mvc:cors>
		<!-- 所有请求都允许跨域 /* :一样 /**: 所有方法任意路径； allowed-origins="http://192.168.10.77"：限制 -->
		<mvc:mapping path="/**" />
	</mvc:cors>

	<!-- 全是返回json数据； 低版本浏览器，不识别application/json类型的数据就提供下载； -->
	<mvc:annotation-driven>
		<mvc:message-converters>
			<!-- 配置message-converters -->
			<bean
				class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
				<property name="supportedMediaTypes">
					<list>
						<value>text/plain;charset=utf-8</value>
					</list>
				</property>
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>
	<mvc:default-servlet-handler />

</beans>
